@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

/* General Styling */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

span {
	color: rgb(38, 198, 218);
}

/* Table Styling */

.table-wrapper {
	height: 85vh;
	overflow-y: auto;
}

thead {
	position: sticky;
	top: 0;
	background-color: white;
}

/* Card Styling */

.card {
	width: 24rem;
}

.card:hover {
	box-shadow: inset -20px -20px 60px #bebebe,
	inset 20px 20px 60px #ffffff !important;
}

.card-header {
	height: 5vh;
}

.card-venue {
	font-weight: 600;
	font-size: large;
}

.card-date {
	font-weight: 300;
}

.card-status {
	text-transform: uppercase;
}

@media screen and (max-width: 576px) {
	.card {
		width: 100%;
	}
}
