@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

/* General Styling */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

caption {
	font-weight: 900;
}

span {
	color: rgb(38, 198, 218);
}

#landing, #venues, #contact {
	min-height: 95vh;
	background-image: url("https://i.postimg.cc/Ghgsr2k6/lucas-ludwig-k-T-jqk-Mm-Fc-unsplash.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
}

.navbar {
	background: #bac1db;
	background-size: cover;
	width: 100%;
}

.navbar>.container-fluid {
	background: #bac1db;
	background-size: cover;
	width: 100%;
}

.nav-link {
	font-weight: 700 !important;
}

input, select, option, label {
	font-weight: 700 !important;
	background-color: transparent !important;
}

/* Table Styling */

table, .info {
	opacity: 70% !important;
}

table {
	min-height: 75vh;
}

.table-wrapper {
	height: 85vh;
	overflow-y: auto;
}

thead {
	position: sticky;
	top: 0;
	background-color: white;
}

/* Card Styling */

.card {
	width: 24rem;
}

.card:hover {
	box-shadow: inset -20px -20px 60px #bebebe,
	inset 20px 20px 60px #ffffff !important;
}

.card-header {
	height: 5vh;
}

.card-venue {
	font-weight: 600;
	font-size: large;
}

.card-date {
	font-weight: 300;
}

.card-status {
	text-transform: uppercase;
}

@media screen and (max-width: 576px) {
	.card {
		width: 100%;
	}
}
